<!-- Header -->
<header class="header" role="banner">
  <div class="wrap">
    <!-- Logo -->
    <div class="logo">
      <a href="index.html" title="Transfers"><img src="assets/images//transfers.jpg" alt="Transfers" /></a>
    </div>
    <!-- //Logo -->
    
    <!-- Main Nav -->
    <nav role="navigation" class="main-nav">
      <ul>
        <li class="active"><a routerLink="/home" title="">Home</a></li>
        <li><a routerLink="/destination" title="Destinations">Destinations</a>
        </li>
        <li><a routerLink="/tailar-made" title="Tailor made">Tailor made</a></li>
        <li><a routerLink="/ContactUs"title="Contact">Contact</a></li>
      
      </ul>
    </nav>
    <!-- //Main Nav -->
  </div>
</header>
<!-- //Header -->